@import "src/setting";

.navbar-board {
  height: $navbar-board-height;
  padding-left: $gap;
  display: flex;
  align-items: center;
  //background-color: $board-bg-color;
  font-size: 1.1rem;
  div{
    display: flex;
    flex-basis: 100%;
    button{
      outline: none;
      background-color: #86949A;
      border: none;
      padding: 8px;
      color: white;
      border-radius: 2px;
      text-align: center;
      line-height: 5px;
      margin-right: 4px;
      span{
        line-height: 5px;
        font-size: 14px;
        font-weight: bold;
        margin-left: 7px;
      }
      .text-light{
        font-weight: lighter;
      }
    }
  }
  span{
    img{
      object-fit: cover;
      height:35px;
    }
  }
  .right-button {
    display: flex;
    flex-basis: 100%;
    justify-content: end;
    button{
      span{
        font-weight: lighter;
        margin-left: 0;
        padding: 0 5px;
      }
    }
  }
}