@import "src/setting";
$card-border-radius: 4px;

.card-item{
  background-color: white;
  padding: $gap;
  cursor: pointer;
  margin-bottom: $gap;
  img.card-cover{
    display: block;
    width: calc(100% + 2 * #{$gap});
    margin: -$gap 0 $gap (-$gap);
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
  span{
    padding-left: 3px;
  }

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: $card-border-radius;
  div.date{
    margin-top: 2px;
    span{
      margin-top: 2px;
      border: 3px;
      padding: 2px ;
      &:hover{
        background-color: #ecf0f1;
      }
    }
  }
}