@import "src/setting";

$common-bg-element: rgba(255, 255, 255, .24);
.board-content {
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $common-bg-element;
    border-radius: 8px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .add-row-column{
    width: 285px;
    height: 32px;
    line-height: 32px;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    color: white;
    margin-left: $gap;
    font-size: 15px;
    background-color: hsla(0,0,100%,.24);
    border-radius:5px ;

    &:hover{
      background-color: hsla(0,0,100%,.34);
    }
  }


}