@import "src/setting";

$common-bg-element: rgba(255, 255, 255, .24);
.board-content {
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  &:after {
    content: '';
    flex: 0 0 $gap;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $common-bg-element;
    border-radius: 8px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .add-row-column{
    width: 285px;
    max-width: 285px;
    line-height: 32px;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    color: white;
    margin-left: $gap;
    font-size: 15px;
    background-color: hsla(0,0,100%,.24);
    border-radius:5px ;

    &:hover{
      background-color: hsla(0,0,100%,.34);
    }
  }
  .enter-new-column{
    width: 285px;
    max-width: 285px;
    line-height: 32px;
    padding: 4px 10px;
    margin-left: $gap;
    background-color: $column-bg-color;
    border-radius:5px ;
    .input-enter-new-column{
      margin: 5px 0;
    }
  }
}
.not-found{
  height: $board-content-height;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 72px;
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}