@import "setting";

body {
  margin: 0;
  font-family: 'Source San Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-master {
  color: $app-main-text-color;
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  .fa{
    font-size: 14px;
    margin-right: 3px;
  }

}